/* Default Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Universal Style */
* {
    margin: 0px;
    padding: 0px;
    font-family: Mulish;
}
:root {
    --default-black: #131318;
    --default-orange: #FF5400;
    --default-white: #FFFFFF;
    --light-black: rgba(19, 19, 24, 0.70);
}

/* Header Section Style */
/* Navbar Style */
.navbar-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo-text {
    font-size: 2.25rem;
    font-weight: 800;
}
.orange-text {
    color: var(--default-orange);
}
.nav-routes li {
    list-style-type: none;
}
.nav-routes a {
    text-decoration: none;
    color: var(--default-black);
}
.nav-routes {
    display: flex;
    gap: 60px;
}
#orange-route {
    font-weight: 700;
    color: var(--default-orange);
}
.navbar-container {
    width: 85%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.hamburger-bar {
    display: none;
}

/* Hero Section */
.hero-section-container {
    height: 600px;
    width: 85%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../assets/Images/hero-image.png');
    background-size: cover;
    background-position: center;
    margin: 0px auto;
    border-radius: 20px;
}
.hero-text-container {
    text-align: center;
}
.hero-heading {
    font-size: 4rem;
    color: var(--default-white);
    font-weight: 800;
}
.hero-description {
    margin: 20px 0px;
}
.hero-inputs-container {
    height: 100px;
    background: rgba(255, 255, 255, 0.30);
    width: 85%;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-inputs {
    width: 20%;
    height: 70%;
    border-radius: 10px;
    border: 0px;
    font-size: 1.25rem;
    font-weight: 700;
}
.hero-inputs:focus {
    outline: 0;
}
.hero-text-input {
    padding: 0px 0px 0px 20px;
}
.hero-inputs-container select {
    padding: 0px 0px 0px 20px;
}
.submit-input {
    background-color: var(--default-orange);
    color: var(--default-white);
}
::placeholder {
    color: var(--default-black);
}
.hero-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Popular Tour Section */
.popular-tour-heading {
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-tour-description-section p {
    margin: 25px 0px;
}
.popular-tour-description-section li {
    margin: 15px 0px;
}
.read-more {
    background-color: var(--default-orange);
    color: var(--default-white);
    font-size: 1.25rem;
    font-weight: 700;
    border: 0px;
    padding: 15px 30px;
    border-radius: 5px;
}
.popular-tours {
    width: 85%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Destination Section */
.your-destination {
    width: 85%;
    margin: 50px auto;
}
.destination-text-container {
    text-align: center;
}
.destination-description {
    margin: 25px 0px;
}
.destination-heading {
    font-size: 2.5rem;
    color: var(--default-black);
    font-weight: 800;
}
.all-description {
    line-height: 1.5rem;
    color: var(--light-black);
}
.dest {
    height: 300px;
    /* background-color: red; */
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--default-white);
    font-weight: 800;
    font-size: 1.75rem;
}
.destinations {
    display: grid;
}
.destination-group1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.destination-group2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.destination-group3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.maldives {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/maldives.png');
}
.indonesia {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/indonesia.png');
}
.srilanka {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/srilanka.png');
}
.north-america {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/north-america.png');
}
.kashmir {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/kashmir.png');
}
.bangladesh {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/bangladesh.png');
}
.bandarban {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../assets/Images/bandarban.png');
}

/* Hero Missing Style */
.hero-description {
    color: var(--default-white);
}




/* Extra Small Screen */
@media (min-width: 320px) and (max-width: 479px) {
    /* Navbar Style */
    .navbar-container {
        width: 85%;
    }
    .navbar-logo {
        gap: 10px;
    }
    .navbar-route {
        display: none;
    }
    .hamburger-bar {
        display: block;
        font-size: 1.25rem;
    }
    .navbar-logo img {
        width: 20%;
    }
    .logo-text {
        font-size: 1.5rem;
    }
    
    /* Hero Section */
    .hero-section-container {
        height: 550px;
    }
    .hero-heading {
        font-size: 1.5rem;
    }
    .hero-description {
        width: 90%;
        margin: 10px auto;
    }
    .hero-inputs-container {
        width: 90%;
        height: 300px;
        flex-direction: column;
        align-items: center;
    }
    .hero-inputs {
        width: 90%;
        height: 20%;
        text-align: center;
        padding: 0px 0px 0px 0px;
        font-size: 1rem;
    }
    .hero-inputs-container select {
        padding: 0px 0px 0px 0px;
    }
    .hero-inputs-container {
        margin: 10px auto;
    }
    .hero-description {
        color: var(--default-white);
    }

    /* Popular Tour Section */
    .popular-tours {
        flex-direction: column;
        align-items: center;
    }
    .popular-tour-image {
        width: 100%;
        margin: 50px 0;
    }
    .popular-tour-heading {
        font-size: 1.5rem;
    }
    .read-more {
        padding: 10px 25px;
        font-size: 1.25rem;
    }

    /* Destination Section */
    .dest {
        height: 220px;
        font-size: 1.25rem;
    }
    .destination-heading {
        font-size: 2rem;
    }
    .destinations {
        display: grid;
        margin-top: 15px;
        gap: 15px;
    }
    .destination-group1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .destination-group2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .destination-group3 {
        grid-template-columns: repeat(1, 1fr);
    }
    
}



/* Small Screen */
@media (min-width: 480px) and (max-width: 767px) {
    /* Navbar Style */
    .navbar-container {
        width: 85%;
    }
    .navbar-logo {
        gap: 5px;
    }
    .navbar-route {
        display: none;
    }
    .hamburger-bar {
        display: block;
        font-size: 1.25rem;
    }
    .navbar-logo img {
        width: 20%;
    }
    .nav-routes {
        gap: 30px;
    }
    .logo-text {
        font-size: 1.5rem;
    }

    /* Hero Section */
    .hero-section-container {
        height: 550px;
    }
    .hero-heading {
        font-size: 2rem;
    }
    .hero-description {
        width: 90%;
        margin: 10px auto;
    }
    .hero-inputs-container {
        width: 90%;
        height: 300px;
        flex-direction: column;
        align-items: center;
    }
    .hero-inputs {
        width: 90%;
        height: 20%;
        text-align: center;
        padding: 0px 0px 0px 0px;
        font-size: 1rem;
    }
    .hero-inputs-container select {
        padding: 0px 0px 0px 0px;
    }
    .hero-inputs-container {
        margin: 20px auto;
    }
    .hero-description {
        color: var(--default-white);
    }

    /* Popular Tour Section */
    .popular-tours {
        flex-direction: column;
        align-items: center;
    }
    .popular-tour-image {
        width: 80%;
        margin: 50px 0px;
    }
    .popular-tour-heading {
        font-size: 1.75rem;
    }

     /* Destination Section */
     .dest {
        height: 250px;
        font-size: 1.5rem;
     }
     .destination-heading {
        font-size: 2rem;
    }
    .destinations {
        display: grid;
        margin-top: 15px;
        gap: 15px;
    }
    .destination-group1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .destination-group2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .destination-group3 {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* Medium Screen */
@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-container {
        width: 85%;
    }
    .logo-text {
        font-size: 1.75rem;
    }
    .logo-icon {
        width: 20%;
    }
    .nav-routes {
        gap: 30px;
    }

    /* Hero Section */
    .hero-heading {
        font-size: 3rem;
    }
    .hero-description {
        width: 80%;
        margin: 20px auto;
    }
    .hero-inputs-container {
        width: 90%;
    }
    .hero-inputs {
        font-size: 1rem;
        width: 22%;
        padding: 0px;
        text-align: center;
    }
    .hero-inputs-container select {
        padding: 0px;
    }
    .hero-section-container {
        height: 500px;
    }
    .hero-description {
        color: var(--default-white);
    }

    /* Popular Tour Section */
    .popular-tour-image {
        width: 50%;
    }
    .popular-tour-heading {
        font-size: 2rem;
    }
    .popular-tour-description-section {
        font-size: 0.90rem;
        width: 90%;
    }

    /* Destination Section */
    .dest {
        height: 200px;
        font-size: 1.25rem;
    }
}



/* Large Screen */
@media (min-width: 1024px) and (max-width: 1440px) {
    .logo-text {
        font-size: 2rem;
    }
    .logo-icon {
        width: 18%;
    }

    /* Hero Section */
    .hero-heading {
        font-size: 3.5rem;
    }
    .hero-inputs-container {
        width: 95%;
    }
    .hero-section-container {
        height: 550px;
    }
    .hero-description {
        color: var(--default-white);
    }

    /* Popular Tour Section */
    .popular-tour-heading {
        font-size: 2.5rem;
    }
    .popular-tour-image {
        width: 45%;
    }
    .popular-tour-description-section {
        width: 85%;
    }

    /* Destination Section */
    .dest {
        height: 250px;
        font-size: 1.5rem;
    }
}